.nav{
    text-align: right;
}

.nav-link{
    padding: 0.5em;
    color: black;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
    background-color: black;
}

.nav-link.ativo{
    text-decoration: underline;
}

#nav-menu{
    position: fixed;
    width: 40px;
    top: 35%;
    right: 10px;
    padding: 5px 2px;
}